<form action="/celebrities/create" method="POST">
  <label>Name:</label>
  <input type="text" name="name"><br>
  <label>Occupation:</label>
  <input type="text" name="occupation"><br>
  <label>Catchphrase:</label>
  <input type="text" name="catchPhrase"><br>
  <button type="submit">Create Celebrity</button>
</form>